.container {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    background-color: transparent;

}

.carrosel {
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;

}

.carrosel::-webkit-scrollbar {
    display: none;
}

.item {
    margin: 10px;
    padding: 10px;
    width: 300px;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item:hover {
    cursor: pointer;
  
}

.imagem img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 500px;
    object-fit: fill;
}

.info {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.info span {
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    margin: 10px;
    color: black;
}

.botoes {
    width: 100%;
    text-align: center;
}

.botoes img {
    width: 20px;
    height: 20px;
    margin-left: 70px;
}

.botoes button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.botoes button:first-child img {
    transform: rotate(180deg);
}