@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

.fundoCloset {

    /* background-image: url("../public/images/fundoInterfaceCloset3.jpeg"); */
    background: #cccdcf;

    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-y;

}

.closet {

    align-items: center;
    /* background-color: aquamarine; */
    background-size: cover;
    /* border: 5px dotted black; */
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;

}

.title {

    position: absolute;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: 5px orange;
    color: black;
    margin-bottom: 875px;
    /* margin-top: 100px; */
    justify-content: center;

}


.lookEachArea {

    align-items: center;
    justify-content: center;
    /* background-color: red; */
    /* border: 5px dotted black; */
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    margin-top: 45px;
    width: 45vw;
    flex-wrap: wrap;

}

.area {

    /* margin-top: 100px; */
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: rgba(255, 255, 255, 0.3); */
    border: 5px solid black;
    height: 230px;

}

.tituloDiv {

    color: black;
    margin-top: 10px;
}

.imagem {

    background-size: cover;
    display: flex;
    height: 15vh;
    width: 10vw;
    justify-content: center;
    margin-top: 45px;
    /* margin-left: 25px; */

}

.navCloset {
    align-items: center;
    background-color: transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;

}

.marcaCloset {
    color: var(--roxo-escuro);
    font-family: 'Noto Sans', sans-serif;

}

.marcaCloset img {
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100px;
}

.textosCloset {
    align-items: center;
    color: black;
    display: flex;
    font-size: 1.5rem;
    font-weight: 525;
    gap: 30px;
    justify-content: center;
    padding: 0 20px;
    position: relative;
}

.textosCloset :hover {
    color: var(--roxo-escuro);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.textosCloset button {
    border: none;

}

.textosCloset button:hover {
    color: var(--roxo-escuro);
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------- */