@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

.fundoCloset {

    /* background-image: url("../public/images/fundoInterfaceCloset3.jpeg"); */
    background: white;

    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-y;

}

.buttonCriaClosetVAzio {
    position: absolute;
    width: 100vh;
    height: 100vh;
    margin-top: 35vh;
    margin-left: 68vh;

}

.buttonCriaClosetVAzio button {
    background-color: white;
    border: 0px;
    height: 5vh;
    font-size: 2vh;

}

.area button {
    background-color: white;
    width: 12vh;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2vh;
}

.closet {

    align-items: center;
    /* background-color: aquamarine; */
    background-size: cover;
    /* border: 5px dotted black; */
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;

}

.title {

    position: absolute;
    width: 100vh;
    height: 103vh;
    margin-top: 34vh;
    flex-direction: row;
    align-items: top;
    text-align: center;
    color: black;
    /* margin-top: 100px; */
    font-size: 5vh;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;

}


.lookEachArea {

    position: relative;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    /* border: 5px dotted black; */
    display: flex;
    flex-direction: row;
    gap: 8vh;
    text-align: center;
    margin-top: 10vh;
    width: 45vw;
    flex-wrap: wrap;

}

.area {

    /* margin-top: 100px; */
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: rgba(255, 255, 255, 0.3); */
    border: 5px solid black;
    height: 230px;

}

.tituloDiv {
    font-family: 'Noto Sans', sans-serif;
    color: black;
    margin-top: 10px;
}

.imagem {

    background-size: cover;
    display: flex;
    height: 15vh;
    width: 10vw;
    justify-content: center;
    margin-top: 2vh;
    /* margin-left: 25px; */

}

.navCloset {
    align-items: center;
    background-color: transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;

}

.marcaCloset {
    color: var(--roxo-escuro);
    font-family: 'Noto Sans', sans-serif;

}

.marcaCloset img {
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100px;
}

.textosCloset {
    align-items: center;
    color: black;
    display: flex;
    font-size: 1.5rem;
    font-weight: 525;
    gap: 30px;
    justify-content: center;
    padding: 0 20px;
    position: relative;
}

.textosCloset :hover {
    color: var(--roxo-escuro);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.textosCloset button {
    border: none;

}

.textosCloset button:hover {
    color: var(--roxo-escuro);
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------- */