.container{
    display: flex;
    flex-direction: column;
}
.titulos {
    color: var(--roxo-escuro);
    opacity: 0.5;
    font-size: 1.2rem;
    font-weight: 550;
}

.categorias {
    display: flex;
    background-color: transparent;
    flex-direction: column;
}

.categorias button {
    border: none;
    background-color: transparent;
    display: flex;
    font-size: 1rem;
    height: 35px;
}

.categorias button:hover{
    color: var(--roxo-escuro);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

.cores {
    display: flex;
    background-color: transparent;
    flex-direction: column;
}

.cores button {
    border: none;
    background-color: transparent;
    display: flex;
    font-size: 1rem;
    height: 35px;
    
}

.cores button:hover{
    color: var(--roxo-escuro);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

.cores img {
    height: 18px;
    width: 18px;
}

.imagem{
    display: flex;
    width: 25px;
}

.botaoCores{
    display: flex;
    flex-direction: row;

}