@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;


  --roxo: #f49cff;
  --roxo-escuro: #811BE7;
  --vermelho: #E40030;
  --bege: #F0BBD1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: white;
  }

  body {
    color: white;
    background: white;
  }
}