.container {
	margin: 0;
	background-image: url('../public/images/roupas.jpg');
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.texto {
	color: rgb(251, 251, 251);
	margin-top: 5vh;
	font-size: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center
}


.containerBotao {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.botao {

	position: relative;
	padding: 1em 1.5em;
	border: none;
	width: 28vh;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	font-size: 2vh;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
	font-weight: 600;
	margin: 1em 0.8em;
	color: var(--roxo-escuro);
	background-color: var(--bege);
	opacity: 0.8;
}

.botao::after,
.botao::before {
	content: '';
	display: block;
	position: absolute;
	width: 20%;
	height: 20%;
	border: 2px solid;
	transition: all 0.6s ease;
	border-radius: 2px;
}

.botao::after {
	bottom: 0;
	right: 0;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: #811BE7;
	border-right-color: #811BE7;
}

.botao::before {
	top: 0;
	left: 0;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: #811BE7;
	border-left-color: #811BE7;
}

.botao:hover:after,
.botao:hover:before {
	border-bottom-color: #811BE7;
	border-right-color: #811BE7;
	border-top-color: #811BE7;
	border-left-color: #811BE7;
	width: 100%;
	height: 100%;
}


/*
.containerBotao {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.botao {
	color: white;
	border: 1px solid var(--roxo-escuro);
	background-color: var(--roxo-escuro);
	opacity: 0.8;
	padding: 20px 80px;
	text-transform: uppercase;
	letter-spacing: 4px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	border-radius: 5px;
	z-index: 100;
}


.botao::before,
.botao::after {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.botao::before {
	transform: translate3d(-100%, 0, 0);
	color:black;
	background-color: var(--bege);
	border: 1px solid var(--bege);
	transition: transform 300ms ease-in;
}

.botao::after {
	color: black;
	background-color: var(--roxo);
	border: 1px solid var(--roxo);
	transform: translate3d(100%, 0, 0);

	transition: transform 300ms 300ms cubic-bezier(.16, .73, .58, .62);
}

.botao:hover::before {
	color: black;
	transform: translate3d(0, 0, 0);
}

.botao:hover::after {
	color: black;
	transform: translate3d(0, 0, 0);
}

*/