.container{
    background: #cccdcf;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-y;
}

.linhaDoCarrossel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1vw;
}
.look{
    display: flex;
}
.filtros{
    display: flex;
    flex-direction: row;
}

.mais button{
    background-color: transparent;
    border: none;
}

.mais img{
    width: 30px;
    height: 30px;
}