.pagina {
    background: white;

    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-y;

}

.botoes {
    display: flex;
    flex-direction: column;
    border-color: white;
    background-color: transparent;
    width: 110px;

}

.botoes button:hover {
    background-color: var(--roxo-escuro);
    color: white;
    opacity: 25%;
    cursor: pointer;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;

}


.botoes button {
    background-color: transparent;
    height: 150px;
    border-color: white;
    border-radius: 5px;
    width: 110px;
    font-size: x-large;
}


.borda {
    margin-top: 2vh;
    display: flex;
    background-color: rgba(128, 128, 128, 0.034);
    height: 600px;
    width: 410px;
    border: none;

}

.top {
    height: 200px;
    width: 300px;
    border-radius: 3px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);*/
}

.middle {
    height: 300px;
    width: 300px;
    border-radius: 3px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);*/

}

.bottom {
    height: 100px;
    width: 300px;
    border-radius: 3px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);*/

}

.top img {
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 200px;
    justify-content: flex;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%)
}

.middle img {
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 300px;
    justify-content: flex;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%)
}

.bottom img {
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 100px;
    justify-content: flex;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%)
}

.minus button {
    position: fixed;
    margin-top: 10px;
    background-color: transparent;
    border: none;
}

.minus img {
    width: 20px;
    height: 20px;
}