@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');

.container{
    background-color: transparent;
    font-family: 'Noto Sans', sans-serif;
    color: #f49cff;
    width: 200px;
    height: 200px;
}

