@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

.nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px 50px;
}

.marca {
    color: var(--roxo-escuro);
    font-family: 'Noto Sans', sans-serif;

}

.marca img {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.textos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 525;
    color: black;
    gap: 30px;
    padding: 0 20px;
    position: relative;
}

.textos :hover {
    color: var(--roxo-escuro);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.textos button {
    border: none;
    background-color: transparent;

}

.textos button:hover {
    color: var(--roxo-escuro);
    cursor: pointer;

}