@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');

.container{
    background-color: transparent;
}

.navBar{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 50px;
    color: #f49cff;
    font-family: 'Noto Sans', sans-serif;
}

.navBar button{
    display: flex;
    flex-direction: row;
    width: auto;
    border: none;
    background-color: transparent;
    color: #f49cff;
    font-family: 'Noto Sans', sans-serif;
    row-gap: 50px;

}
